// Custom colors
// --------------------
$primary-500: #F44336;
$primary-600: #E53935;
$primary-700: #D32F2F;


// Pico Lib
// --------------------
//@import "pouchdb-press-svelte/dist/scss/pico.google-amp.scss";

